@font-face {
    font-family: Preciosa;
    src: url(font/Preciosa.ttf);
}

@font-face {
    font-family: BravoRGRegular;
    src: url(font/BravoRGRegular.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: CrimsonText-Roman;
    src: url(font/CrimsonText-Roman.ttf);
}

@font-face {
    font-family: Amsdam-Regular-Mac;
    src: url(font/Amsdam-Regular-Mac.ttf);
}

@font-face {
    font-family: Amsdam-Regular;
    src: url(font/Amsdam-Regular.ttf);
}


    
a{
    margin: 0%;
    padding: 0%;
    text-decoration:none;
    color: black;

}


body{

    overflow-x: hidden ;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}



header{
    display: flex;
    flex-direction: column;
    background-image: url(images/fone.jpg);
    background-size: 100%;
    width: 100%;
    margin: 0%;
    height: 100vh;
}



 

.navy_block{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
    width: 100%;
}

.navy_logo{
    width: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100px;
    
}


.h{
    position: absolute;
    font-family: BravoRGRegular;
    font-size: 400%;
    padding-left: 1%;
    color:rgb(255, 81, 0);
    text-shadow: 1px 5px 5px rgb(0, 0, 0);
    
}

.navy_button_block{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.705);
    justify-content: space-around;
    border-radius: 25px;
}

.navy_button{
    font-size: 200%;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: unset;
    
}

.navy_button:hover{
    color: rgb(255, 81, 0);
}

.navy_button:active{
    text-shadow: 1px 1px 3px black;
}


.coock_block{
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.coocking_button{
    border: none;
    background-color: rgba(0, 0, 0, 0.507);
    font-size: 500%;
    font-family: Preciosa;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 25px;
}

.coocking_button:hover{
    color: rgb(255, 81, 0)
}

.coocking_button:active{
    text-shadow: 1px 1px 3px white;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.mainH{
    font-size: 300%;
}

.katalogBlock{

    margin-bottom: 5%;
    margin-right: 5%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    background-color:rgb(255, 255, 255);
    
}

.recept{
    margin: 3%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-around;
    background-color:rgb(255, 136, 70);
    border-radius: 10px;
    padding: 1%;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}



.receptText{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    
}

.justify{
    text-align: justify;
}




footer{
    display: flex;
    position: fixed;
    width: 100%;
    color: white;
    background-color:black;
    text-align: center;
    justify-content: center;
    bottom: 0%;
    
}


@media (orientation: portrait) {
    header {
      background-size: auto;
      background-position: center;
    }

    .navy_block{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navy_logo{
        margin-top: 10%;
        font-size: 200%;
    }
    
    .navy_button_block{
        width: 90%;
        background-color: rgba(255, 255, 255, 0);
        margin-top: 10%;
        flex-direction: column;
        height: 100%;
        padding-top: 2%;
        padding-bottom: 4%;
    }

    .navy_button{
        width: 50%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.712);
        font-size: 400%;
        margin: 2%;
        border-radius: 25px;
    }

    .coocking_button{
        margin-top: 20%;
        font-size: 700%;
    }

    .recept{
        flex-direction: column;
    }

    .receptImg{
        width: max-content;
        height: 100%;
    }

    .sign_up_windows{
        width: 100%;
        height: 100%;
    }
    
  }


  .button2{
    width: 135px;
    height: 40px;
    text-align: center;
    background-color: #3e3d3d;
    border: 2px #3e3d3d solid;
    color: white;
    cursor: pointer;
}

.button2:active{
    border: 2px #b8b6b6 solid;
 
}

#sign_up_background{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.705);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

#sign_up_background:target{
    opacity: 1;
    visibility: visible;
}

.sign_up_windows{
    background-color:rgb(228, 222, 222);
    width: 60%;
    min-width: 500px;
    
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: #a3a0a0 4px solid;
    border-radius:25px;
}


.sign_up_h_block{
    display:flex;
    justify-content: space-between;
    width:100%;
    height: 100px;
    margin-top: 20px;
    background-color:#464646;;
    
    
}

.sign_up_h_ittem{
    width: 90%;
    min-width: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Amsdam-Regular-Mac;
    font-size: 15px bold;
    color: white;
    padding-left: 10%;
}

.sign_up_x_ittem{
    width: 10%;
    text-align: center;
    border: none;
    font-size: 30px;
    background-color: unset;
}




.sign_up_form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}

.sign_up_form_input{
    width: 500px;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 25px;
    padding-left: 10px;
}
.sign_up_form_input2{
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 25px;
    padding-top: 20px;
    padding-left: 20px;
}

.sign_up_form_input3{
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
    border-radius: 25px;
    padding-top: 20px;
    padding-left: 20px;
    
}

.white{
    color: white;
}

.select{
    background-color: rgb(56, 56, 56);
    font-size: 15px;
    margin: 10px;
    border-radius: 25px;
    padding: 2px;
    color: white;
}

.l{
    font-style: italic;
    font-size: large;
}

#modal_background{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.705);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

#modal_background:target{
    opacity: 1;
    visibility: visible;
}

.modal_windows{
    background-color:rgb(228, 222, 222);
    width: 60%;
    min-width: 500px;
    
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: #a3a0a0 4px solid;
    border-radius:25px;
}


.modal_h_block{
    display:flex;
    justify-content: space-between;
    width:100%;
    height: 100px;
    margin-top: 20px;
    background-color:#464646;;
    
    
}

.modal_h_ittem{
    width: 90%;
    min-width: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px ;
    font-family: Amsdam-Regular-Mac;
    color: white;
    padding-left: 10%;
}

.modal_x_ittem{
    width: 10%;
    text-align: center;
    border: none;
    font-size: 20px;
    background-color: unset;
    padding-bottom: 40px;
}

.select_block_output{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_block{
    text-align: center;

}









