@font-face {
    font-family: Preciosa;
    src: url(font/Preciosa.ttf);
}

@font-face {
    font-family: BravoRGRegular;
    src: url(font/BravoRGRegular.ttf);
}


    



body{
    
    overflow-x: hidden ;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}



header{
    display: flex;
    flex-direction: column;
    background-image: url(../images/image2.jpg);
    background-size: 100%;
    width: 100%;
    margin: 0%;
    height: 95vh;
}



 

.navy_block{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
    width: 100%;
}

.navy_logo{
    width: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100px;
    
}


.h{
    position: absolute;
    font-family: BravoRGRegular;
    font-size: 400%;
    padding-left: 1%;
    color:rgb(255, 81, 0);
    text-shadow: 1px 5px 5px rgb(0, 0, 0);
    
}

.navy_button_block{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.705);
    justify-content: space-around;
    border-radius: 25px;
}

.navy_button{
    font-size: 200%;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: unset;
    
}

.navy_button:hover{
    color: rgb(255, 81, 0);
}

.navy_button:active{
    text-shadow: 1px 1px 3px black;
}


.coock_block{
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.coocking_button{
    border: none;
    background-color: rgba(0, 0, 0, 0.507);
    font-size: 500%;
    font-family: Preciosa;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 25px;
}

.coocking_button:hover{
    color: rgb(255, 81, 0)
}

.coocking_button:active{
    text-shadow: 1px 1px 3px white;
}

footer{
    display: flex;
    position: absolute;
    width: 100%;
    color: white;
    background-color:black;
    text-align: center;
    justify-content: center;
    left: 0%;
    bottom: 0%;
    height: 5vh;
}


@media (orientation: portrait) {
    header {
      background-size: auto;
      background-position: center;
    }

    .navy_block{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navy_logo{
        margin-top: 10%;
        font-size: 200%;
    }
    
    .navy_button_block{
        width: 90%;
        background-color: rgba(255, 255, 255, 0);
        margin-top: 10%;
        flex-direction: column;
        height: 100%;
        padding-top: 2%;
        padding-bottom: 4%;
    }

    .navy_button{
        width: 50%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.712);
        font-size: 400%;
        margin: 2%;
        border-radius: 25px;
    }

    .coocking_button{
        margin-top: 20%;
        font-size: 700%;
    }

    
  }



